In [4]:
select * from EMPLOYEE;

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
1,Ramesh,GNoida,3445,Sales,25000,2020-05-10
2,Suresh,GNoida,72,Sales,75000,2015-04-12
3,Rajesh,GNoida,2324,Sales,28000,2017-02-27
4,Shyamu,BSB,8883,Sales,35000,2016-03-22
5,Ramu,BSB,74568,Sales,96000,2012-10-10
6,Mahesh,GNoida,1238,Sales,25000,2020-01-25
7,Chaman,BSBS,7634,D10,21500,2022-05-05
8,Arun,Chennai,546,D10,22000,2023-04-22
9,Deva,coimbatore,1050,Sales,22000,2023-04-22
10,Charan,Hosur,1010,Sales,22000,2023-04-22
11,Sownder,Dharmapuri,5050,D10,22000,2023-04-22
12,Surender,Madurai,2030,D10,22000,2023-04-22
13,Hariharan,chennai,7773,Sales,22000,2023-04-22
14,Mahavishnu,Coimbatore,7373,D10,22000,2023-04-22
15,Shankar,chennai,3040,Sales,22000,2023-04-22

In [3]:
SELECT * from dept

Dept_No,Dept_Name,Emp_Address
1010,MANAGER,chennai
2324,MANAGER,coimbatore
3345,SALES,chennai
1238,SALES,coimbatore

In [6]:
-- select * 
-- from EMPLOYEE
-- WHERE Emp_Address IN ('chennai', 'coimbatore');
select *
from dept
where Dept_Name in ('dept_no', 'dept_name', 'emp_address' );

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
8,Arun,Chennai,546,D10,22000,2023-04-22
9,Deva,coimbatore,1050,Sales,22000,2023-04-22
13,Hariharan,chennai,7773,Sales,22000,2023-04-22
14,Mahavishnu,Coimbatore,7373,D10,22000,2023-04-22
15,Shankar,chennai,3040,Sales,22000,2023-04-22

In [7]:
select Emp_Name, Salary, Emp_Address
from EMPLOYEE
where Emp_Address in ('chennai','coimbatore')

Emp_Name,Salary,Emp_Address
Arun,22000,Chennai
Deva,22000,coimbatore
Hariharan,22000,chennai
Mahavishnu,22000,Coimbatore
Shankar,22000,chennai

In [9]:
select e.Emp_Name, e.Salary, e.emp_address from EMPLOYEE as e 
join dept as d on d.Emp_Address = e.Emp_Address;

Emp_Name,Salary,emp_address
Arun,22000,Chennai
Arun,22000,Chennai
Deva,22000,coimbatore
Deva,22000,coimbatore
Hariharan,22000,chennai
Hariharan,22000,chennai
Mahavishnu,22000,Coimbatore
Mahavishnu,22000,Coimbatore
Shankar,22000,chennai
Shankar,22000,chennai

In [10]:
SELECT emp_name, salary, emp_address
from EMPLOYEE
where Emp_Address in (select Emp_Address from dept);

emp_name,salary,emp_address
Arun,22000,Chennai
Deva,22000,coimbatore
Hariharan,22000,chennai
Mahavishnu,22000,Coimbatore
Shankar,22000,chennai

sub qua

In [16]:
select emp_no, emp_name, dept_no, dept_name
from EMPLOYEE
where dept_name in (select Dept_Name from dept);

emp_no,emp_name,dept_no,dept_name
1,Ramesh,3445,Sales
2,Suresh,72,Sales
3,Rajesh,2324,Sales
4,Shyamu,8883,Sales
5,Ramu,74568,Sales
6,Mahesh,1238,Sales
9,Deva,1050,Sales
10,Charan,1010,Sales
13,Hariharan,7773,Sales
15,Shankar,3040,Sales

## Stored Procedure

A stored procedure is a prepared SQL code that you can save, so the code can be reused over and over again.

So if you have an SQL query that you write over and over again, save it as a stored procedure, and then just call it to execute it.

You can also pass parameters to a stored procedure, so that the stored procedure can act based on the parameter value(s) that is passed.

In [20]:
CREATE PROCEDURE SelectAllEMP_NAME
AS
SELECT * FROM EMPLOYEE
;

: Msg 2714, Level 16, State 3, Procedure SelectAllEMP_NAME, Line 1
There is already an object named 'SelectAllEMP_NAME' in the database.

In [19]:
EXEC SelectAllEMP_NAME;

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
1,Ramesh,GNoida,3445,Sales,25000,2020-05-10
2,Suresh,GNoida,72,Sales,75000,2015-04-12
3,Rajesh,GNoida,2324,Sales,28000,2017-02-27
4,Shyamu,BSB,8883,Sales,35000,2016-03-22
5,Ramu,BSB,74568,Sales,96000,2012-10-10
6,Mahesh,GNoida,1238,Sales,25000,2020-01-25
7,Chaman,BSBS,7634,D10,21500,2022-05-05
8,Arun,Chennai,546,D10,22000,2023-04-22
9,Deva,coimbatore,1050,Sales,22000,2023-04-22
10,Charan,Hosur,1010,Sales,22000,2023-04-22
11,Sownder,Dharmapuri,5050,D10,22000,2023-04-22
12,Surender,Madurai,2030,D10,22000,2023-04-22
13,Hariharan,chennai,7773,Sales,22000,2023-04-22
14,Mahavishnu,Coimbatore,7373,D10,22000,2023-04-22
15,Shankar,chennai,3040,Sales,22000,2023-04-22

In [28]:
-- CREATE PROCEDURE Select_AllEMP_NAME @EMP_ADDRESS nvarchar(30)
AS
SELECT * FROM EMPLOYEE WHERE EMP_ADDRESS = @EMP_ADDRESS;

In [29]:
exec Select_AllEMP_NAME @EMP_ADDRESS ='chennai'

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
8,Arun,Chennai,546,D10,22000,2023-04-22
13,Hariharan,chennai,7773,Sales,22000,2023-04-22
15,Shankar,chennai,3040,Sales,22000,2023-04-22

In [30]:
exec Select_AllEMP_NAME @EMP_ADDRESS ='coimbatore'

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
9,Deva,coimbatore,1050,Sales,22000,2023-04-22
14,Mahavishnu,Coimbatore,7373,D10,22000,2023-04-22

In [31]:
exec Select_AllEMP_NAME @EMP_ADDRESS ='GNoida'

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
1,Ramesh,GNoida,3445,Sales,25000,2020-05-10
2,Suresh,GNoida,72,Sales,75000,2015-04-12
3,Rajesh,GNoida,2324,Sales,28000,2017-02-27
6,Mahesh,GNoida,1238,Sales,25000,2020-01-25

In [33]:
CREATE PROCEDURE increaseSalary
   @EMP_NO INT,
   @salary DECIMAL(18, 2) OUTPUT
AS
BEGIN
   -- get the current salary of the customer
   SELECT @salary = SALARY FROM EMPLOYEE WHERE Emp_NO = @EMP_NO;
   -- increase the salary by 10%
   SET @salary = @salary * 1.1;

   -- update the cutomer's salary in the database
   UPDATE EMPLOYEE SET SALARY = @salary WHERE Emp_NO = @EMP_NO;
END;

In [37]:
DECLARE @EMP_NO INT;
DECLARE @salary DECIMAL(18, 2);

SET @EMP_NO = 10;
-- SET @salary = 2200.00;

EXEC increaseSalary @EMP_NO, @salary OUTPUT;

SELECT @salary AS 'Customer Salary'

Customer Salary
24200.00

In [38]:
SELECT * FROM [EMPLOYEE]

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
1,Ramesh,GNoida,3445,Sales,25000,2020-05-10
2,Suresh,GNoida,72,Sales,75000,2015-04-12
3,Rajesh,GNoida,2324,Sales,28000,2017-02-27
4,Shyamu,BSB,8883,Sales,35000,2016-03-22
5,Ramu,BSB,74568,Sales,96000,2012-10-10
6,Mahesh,GNoida,1238,Sales,25000,2020-01-25
7,Chaman,BSBS,7634,D10,28616,2022-05-05
8,Arun,Chennai,546,D10,22000,2023-04-22
9,Deva,coimbatore,1050,Sales,22000,2023-04-22
10,Charan,Hosur,1010,Sales,24200,2023-04-22
11,Sownder,Dharmapuri,5050,D10,22000,2023-04-22
12,Surender,Madurai,2030,D10,22000,2023-04-22
13,Hariharan,chennai,7773,Sales,22000,2023-04-22
14,Mahavishnu,Coimbatore,7373,D10,22000,2023-04-22
15,Shankar,chennai,3040,Sales,22000,2023-04-22

In [9]:
 CREATE PROCEDURE increase_Salary_
   --@AllEMP_NO INT,
   @salary DECIMAL(18, 2) OUTPUT
AS
BEGIN
   -- get the current salary of the customer
   SELECT @salary = SALARY FROM EMPLOYEE  
   -- increase the salary by 10%
   SET @salary = @salary * 1.1;

   -- update the cutomer's salary in the database
   UPDATE EMPLOYEE SET SALARY = @salary;
END;

In [10]:
EXEC increase_Salary  @salary = '0.00';

: Msg 201, Level 16, State 4, Procedure increase_Salary, Line 0
Procedure or function 'increase_Salary' expects parameter '@AllEMP_NO', which was not supplied.

In [41]:
SELECT * FROM [EMPLOYEE]

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
1,Ramesh,GNoida,3445,Sales,25000,2020-05-10
2,Suresh,GNoida,72,Sales,75000,2015-04-12
3,Rajesh,GNoida,2324,Sales,28000,2017-02-27
4,Shyamu,BSB,8883,Sales,35000,2016-03-22
5,Ramu,BSB,74568,Sales,96000,2012-10-10
6,Mahesh,GNoida,1238,Sales,25000,2020-01-25
7,Chaman,BSBS,7634,D10,28616,2022-05-05
8,Arun,Chennai,546,D10,22000,2023-04-22
9,Deva,coimbatore,1050,Sales,22000,2023-04-22
10,Charan,Hosur,1010,Sales,24200,2023-04-22
11,Sownder,Dharmapuri,5050,D10,22000,2023-04-22
12,Surender,Madurai,2030,D10,22000,2023-04-22
13,Hariharan,chennai,7773,Sales,22000,2023-04-22
14,Mahavishnu,Coimbatore,7373,D10,24200,2023-04-22
15,Shankar,chennai,3040,Sales,22000,2023-04-22

In [42]:
EXEC increaseSalary @EMP_NO=15, @salary = '0.00';

## SELECT INTO Statement

The`SELECT INTO`statement copies data from one table into a new table.

<span style="margin-top: 0px; padding-top: 0px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">The new table will be created with the column-names and types as defined in the old table. You can create new column names using the&nbsp;</span>`AS`<span style="color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">&nbsp;clause.</span>

In [11]:
SELECT * INTO emp_addresschennai
FROM EMPLOYEE
WHERE Emp_Address = 'chennai';

In [28]:
select *
from emp_addresschennai;

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
8,Arun,Chennai,546,D10,22000,2023-04-22
13,Hariharan,chennai,7773,Sales,22000,2023-04-22
15,Shankar,chennai,3040,Sales,24200,2023-04-22

In [16]:
select dept_No, dept_name
into dept_1
from dept;

In [17]:
select *
from dept_1;

dept_No,dept_name
1010,MANAGER
2324,MANAGER
3345,SALES
1238,SALES

<span style="box-sizing: inherit; font-weight: bolder; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">Tip:</span>`SELECT INTO`<span style="color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">&nbsp;can also be used to create a new, empty table using the schema of another. Just add a&nbsp;</span>`WHERE`<span style="color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">&nbsp;clause that causes the query to return no data</span>

In [26]:
select dept_No, dept_name
into department_2
from dept
WHERE 1=2;

In [27]:
select * from department_2;

## INSERT INTO SELECT Statement

The`INSERT INTO SELECT`statement copies data from one table and inserts it into another table.

The`INSERT INTO SELECT`statement requires that the data types in source and target tables match.

Note:The existing records in the target table are unaffected.

In [2]:
INSERT INTO department_2 (dept_No, dept_name)
SELECT dept_No, dept_name  FROM EMPLOYEE;

In [3]:
select * from department_2;

dept_No,dept_name
3445,Sales
72,Sales
2324,Sales
8883,Sales
74568,Sales
1238,Sales
7634,D10
546,D10
1050,Sales
1010,Sales
5050,D10
2030,D10
7773,Sales
7373,D10
3040,Sales
1010,MANAGER
2324,MANAGER
3345,SALES
1238,SALES
1050,Sales
1050,Sales
1050,Sales
1050,Sales
1050,Sales
5050,Manager
2030,D10
2030,D10
5050,Manager
5050,Manager
2030,D10
2030,D10
5050,Manager
2030,D10
5050,Manager
1050,Sales
1050,Sales
1050,Sales
1050,Sales
1050,Sales
5050,Manager
2030,D10
2030,D10
5050,Manager
5050,Manager
2030,D10
2030,D10
5050,Manager
2030,D10
5050,Manager

In [31]:
INSERT INTO department_2 (dept_No, dept_name)
SELECT dept_No, dept_name  FROM dept;

In [32]:
select * from department_2;

dept_No,dept_name
3445,Sales
72,Sales
2324,Sales
8883,Sales
74568,Sales
1238,Sales
7634,D10
546,D10
1050,Sales
1010,Sales
5050,D10
2030,D10
7773,Sales
7373,D10
3040,Sales
1010,MANAGER
2324,MANAGER
3345,SALES
1238,SALES

In [33]:
TRUNCATE TABLE dept_1;

In [34]:
select* from dept_1;

In [38]:
UPDATE EMPLOYEE
SET Dept_No = '1050'
WHERE Dept_Name = 'sales';

In [36]:
select* from dept_1;

dept_No,dept_name
72,Sales
546,D10
1010,Sales
1050,Sales
1238,Sales
2030,D10
2324,Sales
3040,Sales
3445,Sales
5050,D10
7373,D10
7634,D10
7773,Sales
8883,Sales
74568,Sales

In [39]:
UPDATE EMPLOYEE
SET Dept_No = '1050'
WHERE Dept_Name = 'sales';

In [40]:
UPDATE EMPLOYEE
SET Dept_No = '2030'
WHERE Dept_Name = 'D10';

In [58]:
UPDATE EMPLOYEE
SET Dept_No = '5050'
WHERE Dept_Name = 'Manager';

In [59]:
SELECT * from EMPLOYEE;

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
1,Ramesh,GNoida,1050,Sales,25000,2020-05-10
2,Suresh,GNoida,1050,Sales,75000,2015-04-12
3,Rajesh,GNoida,1050,Sales,28000,2017-02-27
4,Shyamu,BSB,1050,Sales,35000,2016-03-22
5,Ramu,BSB,1050,Sales,96000,2012-10-10
6,Mahesh,GNoida,5050,Manager,25000,2020-01-25
7,Chaman,BSBS,2030,D10,28616,2022-05-05
8,Arun,Chennai,2030,D10,22000,2023-04-22
9,Deva,coimbatore,5050,Manager,22000,2023-04-22
10,Charan,Hosur,5050,Manager,24200,2023-04-22
11,Sownder,Dharmapuri,2030,D10,22000,2023-04-22
12,Surender,Madurai,2030,D10,22000,2023-04-22
13,Hariharan,chennai,5050,Manager,22000,2023-04-22
14,Mahavishnu,Coimbatore,2030,D10,24200,2023-04-22
15,Shankar,chennai,5050,Manager,24200,2023-04-22

In [63]:
TRUNCATE TABLE dept_1

In [64]:
INSERT INTO dept_1 (dept_No, dept_name)
SELECT distinct dept_No, dept_name  FROM EMPLOYEE;

In [65]:
select * from dept_1;

dept_No,dept_name
1050,Sales
2030,D10
5050,Manager

In [53]:
UPDATE EMPLOYEE
set Dept_Name = 'Manager'
where Emp_NO in (6,9,10,13,15);

In [54]:
SELECT * from EMPLOYEE;

Emp_NO,Emp_Name,Emp_Address,Dept_No,Dept_Name,Salary,HIREDATE
1,Ramesh,GNoida,1050,Sales,25000,2020-05-10
2,Suresh,GNoida,1050,Sales,75000,2015-04-12
3,Rajesh,GNoida,1050,Sales,28000,2017-02-27
4,Shyamu,BSB,1050,Sales,35000,2016-03-22
5,Ramu,BSB,1050,Sales,96000,2012-10-10
6,Mahesh,GNoida,1050,Manager,25000,2020-01-25
7,Chaman,BSBS,2030,D10,28616,2022-05-05
8,Arun,Chennai,2030,D10,22000,2023-04-22
9,Deva,coimbatore,1050,Manager,22000,2023-04-22
10,Charan,Hosur,1050,Manager,24200,2023-04-22
11,Sownder,Dharmapuri,2030,D10,22000,2023-04-22
12,Surender,Madurai,2030,D10,22000,2023-04-22
13,Hariharan,chennai,1050,Manager,22000,2023-04-22
14,Mahavishnu,Coimbatore,2030,D10,24200,2023-04-22
15,Shankar,chennai,1050,Manager,24200,2023-04-22

## CASE Expression

The`CASE`expression goes through conditions and returns a value when the first condition is met (like an if-then-else statement). So, once a condition is true, it will stop reading and return the result. If no conditions are true, it returns the value in the`ELSE`clause.

If there is no`ELSE`part and no conditions are true, it returns NULL.

In [2]:
SELECT EMP_NAME, DEPT_NAME, Emp_Address 
FROM EMPLOYEE
ORDER BY
(CASE
    WHEN DEPT_NAME IS NULL THEN Emp_Address
    ELSE DEPT_NAME
END);

EMP_NAME,DEPT_NAME,Emp_Address
Chaman,D10,BSBS
Arun,D10,Chennai
Sownder,D10,Dharmapuri
Surender,D10,Madurai
Mahavishnu,D10,Coimbatore
Shankar,Manager,chennai
Hariharan,Manager,chennai
Mahesh,Manager,GNoida
Deva,Manager,coimbatore
Charan,Manager,Hosur
Ramesh,Sales,GNoida
Suresh,Sales,GNoida
Rajesh,Sales,GNoida
Shyamu,Sales,BSB
Ramu,Sales,BSB

In [8]:
SELECT DEPT_NO, Salary,
(CASE
    WHEN Salary = 22000 THEN 'The Salary is 22000'
    WHEN Salary = 96000 THEN 'The Salary is 96000'
    WHEN Salary > 22000 THEN 'The Salary is greater than 22000'
    ELSE 'The Salary is under 96000'
END) AS SalaryText
FROM EMPLOYEE;

DEPT_NO,Salary,SalaryText
1050,25000,The Salary is greater than 22000
1050,75000,The Salary is greater than 22000
1050,28000,The Salary is greater than 22000
1050,35000,The Salary is greater than 22000
1050,96000,The Salary is 96000
5050,25000,The Salary is greater than 22000
2030,28616,The Salary is greater than 22000
2030,22000,The Salary is 22000
5050,22000,The Salary is 22000
5050,24200,The Salary is greater than 22000
2030,22000,The Salary is 22000
2030,22000,The Salary is 22000
5050,22000,The Salary is 22000
2030,24200,The Salary is greater than 22000
5050,24200,The Salary is greater than 22000

# Window functions in SQL

Window functions applies aggregate and ranking functions over a particular window (set of rows). OVER clause is used with window functions to define that window. OVER clause does two things :

- Partitions rows into form set of rows. (PARTITION BY clause is used)
- Orders rows within those partitions into a particular order. (ORDER BY clause is used)

**Note:**<span style="color: var(--vscode-foreground);">&nbsp;If partitions arent done, then ORDER BY orders all rows of table.</span>

In [15]:
SELECT EMP_Name, Dept_No, Dept_Name, Salary, 
 AVG(Salary) OVER( PARTITION BY Dept_Name ) AS Avg_Salary
 FROM employee;

EMP_Name,Dept_No,Dept_Name,Salary,Avg_Salary
Chaman,2030,D10,28616,23763
Arun,2030,D10,22000,23763
Sownder,2030,D10,22000,23763
Surender,2030,D10,22000,23763
Mahavishnu,2030,D10,24200,23763
Shankar,5050,Manager,24200,23480
Hariharan,5050,Manager,22000,23480
Mahesh,5050,Manager,25000,23480
Deva,5050,Manager,22000,23480
Charan,5050,Manager,24200,23480
Ramesh,1050,Sales,25000,51800
Suresh,1050,Sales,75000,51800
Rajesh,1050,Sales,28000,51800
Shyamu,1050,Sales,35000,51800
Ramu,1050,Sales,96000,51800

In [20]:
SELECT EMP_Name, Dept_No, Dept_Name, Salary, 
 AVG(Salary) OVER( PARTITION BY Dept_Name ORDER BY SALARY) AS Avg_Salary
 FROM employee;

EMP_Name,Dept_No,Dept_Name,Salary,Avg_Salary
Arun,2030,D10,22000,22000
Sownder,2030,D10,22000,22000
Surender,2030,D10,22000,22000
Mahavishnu,2030,D10,24200,22550
Chaman,2030,D10,28616,23763
Deva,5050,Manager,22000,22000
Hariharan,5050,Manager,22000,22000
Shankar,5050,Manager,24200,23100
Charan,5050,Manager,24200,23100
Mahesh,5050,Manager,25000,23480
Ramesh,1050,Sales,25000,25000
Rajesh,1050,Sales,28000,26500
Shyamu,1050,Sales,35000,29333
Suresh,1050,Sales,75000,40750
Ramu,1050,Sales,96000,51800

In [12]:
SELECT EMP_Name, Dept_No, Dept_Name, Salary, 
 SUM(Salary) OVER( PARTITION BY Dept_Name ) AS SUM_Salary
 FROM employee;

EMP_Name,Dept_No,Dept_Name,Salary,SUM_Salary
Chaman,2030,D10,28616,118816
Arun,2030,D10,22000,118816
Sownder,2030,D10,22000,118816
Surender,2030,D10,22000,118816
Mahavishnu,2030,D10,24200,118816
Shankar,5050,Manager,24200,117400
Hariharan,5050,Manager,22000,117400
Mahesh,5050,Manager,25000,117400
Deva,5050,Manager,22000,117400
Charan,5050,Manager,24200,117400
Ramesh,1050,Sales,25000,259000
Suresh,1050,Sales,75000,259000
Rajesh,1050,Sales,28000,259000
Shyamu,1050,Sales,35000,259000
Ramu,1050,Sales,96000,259000

In [22]:
SELECT 
ROW_NUMBER() OVER (PARTITION BY DEPT_NO ORDER BY Salary DESC) 
AS Emp_Row_No, Emp_Name, Dept_Name, Salary,
RANK() OVER(PARTITION BY DEPT_NO ORDER BY Salary DESC) AS emp_rank,
DENSE_RANK() OVER(PARTITION BY DEPT_NO ORDER BY Salary DESC) AS emp_dense_rank
FROM employee;

emp_row_no,Emp_Name,Dept_Name,Salary,emp_rank,emp_dense_rank
1,Ramu,Sales,96000,1,1
2,Suresh,Sales,75000,2,2
3,Shyamu,Sales,35000,3,3
4,Rajesh,Sales,28000,4,4
5,Ramesh,Sales,25000,5,5
1,Chaman,D10,28616,1,1
2,Mahavishnu,D10,24200,2,2
3,Sownder,D10,22000,3,3
4,Surender,D10,22000,3,3
5,Arun,D10,22000,3,3
1,Mahesh,Manager,25000,1,1
2,Shankar,Manager,24200,2,2
3,Charan,Manager,24200,2,2
4,Hariharan,Manager,22000,4,3
5,Deva,Manager,22000,4,3

## GROUP BY Statement

The`GROUP BY`statement groups rows that have the same values into summary rows, like "find the number of customers in each country".

The`GROUP BY`statement is often used with **Aggregate Functions** (`COUNT()`,`MAX()`,`MIN()`,`SUM()`,`AVG()`) to group the result-set by one or more columns.

**SUM():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">The SUM() function returns the sum of all the values of the selected column.</span>

In [25]:
SELECT SUM(salary) as Dept_salary, dept_name
from EMPLOYEE
group BY dept_name;

Dept_salary,dept_name
118816,D10
117400,Manager
259000,Sales

**COUNT():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">It is used to count the number of rows returned in a SELECT statement.</span>

In [34]:
SELECT count(salary) as Dept_salary, dept_name
from EMPLOYEE
group BY dept_name;

Dept_salary,dept_name
5,D10
5,Manager
5,Sales

**MAX():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">The MAX() function returns the maximum value of the selected column.</span>

In [35]:
SELECT max(salary) as Dept_salary, dept_name
from EMPLOYEE
group BY dept_name;

Dept_salary,dept_name
28616,D10
25000,Manager
96000,Sales

**AVG()**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">: It returns the average value after calculating from values in a numeric column.</span>

In [36]:
SELECT AVG(salary) as Dept_salary, dept_name
from EMPLOYEE
group BY dept_name;

Dept_salary,dept_name
23763,D10
23480,Manager
51800,Sales

**MIN():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">The MIN() function returns the minimum value of the selected column.&nbsp;</span>

In [37]:
SELECT MIN(salary) as Dept_salary, dept_name
from EMPLOYEE
group BY dept_name;

Dept_salary,dept_name
22000,D10
22000,Manager
25000,Sales

**Scalar Functions****:**

1. UCASE()
2. LCASE()
3. MID()
4. LEN()
5. ROUND()
6. NOW()
7. FORMAT()

**UCASE()**<span style="font-weight: 400; letter-spacing: 0.162px; text-align: left;">: It converts the value of a field to uppercase.</span>  
       **UCASE()** is also known as **UPPER()** in SQL Server.

In [45]:
SELECT UPPER(Emp_Name) AS UCASE_EMPNAME
FROM EMPLOYEE;

UCASE_EMPNAME
RAMESH
SURESH
RAJESH
SHYAMU
RAMU
MAHESH
CHAMAN
ARUN
DEVA
CHARAN
SOWNDER
SURENDER
HARIHARAN
MAHAVISHNU
SHANKAR

**LCASE()**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">: It converts the value of a field to lowercase</span>

       <span style="background-color: rgb(255, 255, 255); color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px;"><b>LCASE()</b> is also known as<b> LOWER() </b>in SQL Server.</span>

In [46]:
SELECT LOWER(Emp_Name) AS LCASE_EMPNAME
FROM EMPLOYEE;

LCASE_EMPNAME
ramesh
suresh
rajesh
shyamu
ramu
mahesh
chaman
arun
deva
charan
sownder
surender
hariharan
mahavishnu
shankar

**MID():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">The MID() function extracts texts from the text field.</span>

      <span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);"><b>MID()</b> is also known as <b>SUBSTRING()</b> in SQL Server.</span>

In [36]:
SELECT SUBSTRING(EMP_NAME,4,5)
FROM EMPLOYEE;

(No column name)
esh
esh
esh
amu
u
esh
man
n
a
ran
nder
ender
ihara
avish
nkar

**LEN():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">The LEN() function returns the length of the value in a text field.</span>

In [51]:
SELECT LEN(EMP_ADDRESS) 
FROM EMPLOYEE;

(No column name)
6
6
6
3
3
6
4
7
10
5
10
7
7
10
7

**SUBSTRING() & LEN()**

HERE IN SUBSTRING(<span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Emp_Address,</span><span style="color: var(--vscode-foreground);">1,4)&nbsp;</span>

1- Stands for where the<span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"><u>Emp_Address</u> range starts from</span> <span style="color: var(--vscode-foreground);">&nbsp; &amp;&nbsp; 4- Stands for where the&nbsp;</span><span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"><u>Emp_Address</u> range ends at.</span>

In [16]:
SELECT SUBSTRING(Emp_Address,1,4),LEN (Emp_Address)
FROM EMPLOYEE;

(No column name),(No column name)
GNoi,6
GNoi,6
GNoi,6
BSB,3
BSB,3
GNoi,6
BSBS,4
Chen,7
coim,10
Hosu,5
Dhar,10
Madu,7
chen,7
Coim,10
chen,7

**ROUND():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">The ROUND() function is used to round a numeric field to the number of decimals specified.</span>

<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">NOTE: Many database systems have adopted the IEEE 754 standard for arithmetic operations, which says that when any numeric .5 is rounded it results to the nearest even integer i.e, 5.5 and 6.5 both gets rounded off to 6. D</span><span style="background-color: var(--gfg-grey-bg); color: rgb(39, 50, 57); font-family: Consolas, monospace; font-size: 12pt; letter-spacing: 0.162px; white-space: pre-wrap;">ecimals- number of decimals to be fetched.</span>

<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);"><br></span>

In [52]:
SELECT ROUND(SALARY,0)
FROM EMPLOYEE;

(No column name)
25000
75000
28000
35000
96000
25000
28616
22000
22000
24200
22000
22000
22000
24200
24200

**NOW():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">The NOW() function returns the current system date and time.</span>

      <span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">&nbsp;<b>NOW()</b> is also known as <b>GETDATE() &amp; CURRENT_TIMESTAMP() </b>in SQL Server.</span>

In [6]:
SELECT EMP_NAME,EMP_ADDRESS,DEPT_NAME, GETDate() AS DATENTIME
FROM EMPLOYEE;

EMP_NAME,EMP_ADDRESS,DEPT_NAME,DATENTIME
Ramesh,GNoida,Sales,2023-08-09 11:28:31.737
Suresh,GNoida,Sales,2023-08-09 11:28:31.737
Rajesh,GNoida,Sales,2023-08-09 11:28:31.737
Shyamu,BSB,Sales,2023-08-09 11:28:31.737
Ramu,BSB,Sales,2023-08-09 11:28:31.737
Mahesh,GNoida,Manager,2023-08-09 11:28:31.737
Chaman,BSBS,D10,2023-08-09 11:28:31.737
Arun,Chennai,D10,2023-08-09 11:28:31.737
Deva,coimbatore,Manager,2023-08-09 11:28:31.737
Charan,Hosur,Manager,2023-08-09 11:28:31.737
Sownder,Dharmapuri,D10,2023-08-09 11:28:31.737
Surender,Madurai,D10,2023-08-09 11:28:31.737
Hariharan,chennai,Manager,2023-08-09 11:28:31.737
Mahavishnu,Coimbatore,D10,2023-08-09 11:28:31.737
Shankar,chennai,Manager,2023-08-09 11:28:31.737

In [5]:
SELECT CURRENT_TIMESTAMP

(No column name)
2023-08-09 11:27:46.823

**FORMAT():**<span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 17px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">The FORMAT() function is used to format how a field is to be displayed.</span>

In [18]:
SELECT EMP_NAME,EMP_ADDRESS,DEPT_NAME, FORMAT(CURRENT_TIMESTAMP,'dd-MM-yyyy') AS DATE
FROM EMPLOYEE;

EMP_NAME,EMP_ADDRESS,DEPT_NAME,DATE
Ramesh,GNoida,Sales,10-08-2023
Suresh,GNoida,Sales,10-08-2023
Rajesh,GNoida,Sales,10-08-2023
Shyamu,BSB,Sales,10-08-2023
Ramu,BSB,Sales,10-08-2023
Mahesh,GNoida,Manager,10-08-2023
Chaman,BSBS,D10,10-08-2023
Arun,Chennai,D10,10-08-2023
Deva,coimbatore,Manager,10-08-2023
Charan,Hosur,Manager,10-08-2023
Sownder,Dharmapuri,D10,10-08-2023
Surender,Madurai,D10,10-08-2023
Hariharan,chennai,Manager,10-08-2023
Mahavishnu,Coimbatore,D10,10-08-2023
Shankar,chennai,Manager,10-08-2023

In [17]:
SELECT CURRENT_TIMESTAMP, FORMAT(CURRENT_TIMESTAMP,'dd-MM-yyyy')

(No column name),(No column name)
2023-08-10 12:56:29.450,10-08-2023